.numKeys, .operatorKeys {
    background-color: #b4aeae21;
    padding: 12px 32px;
    font: 10pt/10pt bold;
    border-radius: 7px;
    border: 1px solid #dbdbdbd8;
    font-size: 100%;
    text-align: center;
    width: 100%;
    outline-style: none

}

.numKeys:active {
    background-color: #a5a5a554;
    transform: translateY(1px);
  }

  .operatorKeys{
    background-color: #ffa32a;
}